<div class="row">
    <div class="col-12">
        <h2>Enheter</h2>
    </div>
</div>
<div class="row">
    <div class="col-4" *ngFor="let device of devices">
        <app-device [device]="device" [socket]="socket" (removeButtonClicked)="removeDevice($event)" (updateButtonClicked)="updateDevice($event)"></app-device>
    </div>
</div>
