<div class="row">
    <div class="col-12">
        <h3 class="mb-5">Kontroll</h3>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card mb-5">
            <div class="card-block">
                <h4 class="card-title">Legg til enhet</h4>
                <div class="row form-group">
                    <label for="deviceName" class="col-3">Navn:</label>
                    <div class="col-9">
                        <input type="text" class="form-control" name="deviceName" [(ngModel)]="inputDeviceName" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="deviceRoom" class="col-3">Rom:</label>
                    <div class="col-9">
                        <input type="text" class="form-control" name="deviceRoom" [(ngModel)]="inputDeviceRoom" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="deviceType" class="col-3">Type:</label>
                    <div class="col-9">
                        <select class="form-control" name="deviceType" [(ngModel)]="inputDeviceTypeOf">
                            <option value="light">Lys</option>
                            <option value="temprature">Tempratur</option>
                            <option value="device">Annen</option>
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-6">
                        <button type="button" class="btn btn-primary d-block mr-auto" (click)="addDevice()">Legg til enhet</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary d-block ml-auto" (click)="update()">Oppdater</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">

    </div>
</div>

<div class="row">
    <div class="col-12">
        <app-device-list #deviceList [socket]="socket"></app-device-list>
    </div>
</div>
