<div class="row">
    <div class="col-12">
        <h3 class="mb-5">Virtuelt hjem</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-vr-room *ngFor="let room of rooms" [room]="room"></app-vr-room>
    </div>
</div>
