<ng-template #content let-c="close" let-d="dismiss">


    <div class="modal-header">
        <h4 class="modal-title">{{ device.getName() }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div class="modal-body">
        <p>Enhet ID: {{ device.getId() }}.</p>
        <p>Rom: {{ device.getRoom() }}.</p>
        <p>Status: {{ device.status }}</p>
        <fieldset class="form-group">
            <legend>Strøm</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="powerRadios" id="powerOn" value="on" [(ngModel)]="device.power" (change)="updateSingleDevice()">På</label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="powerRadios" id="powerOff" value="off" [(ngModel)]="device.power" (change)="updateSingleDevice()">Av</label>
            </div>
        </fieldset>
        <fieldset class="form-group" *ngIf="device.getTypeOfDevice() == 'light'">
            <legend>Dimmer</legend>
            <p>Dimmer er nå på: {{ device.getDim() }}</p>
            <md-slider [(ngModel)]="device.dim" (change)="updateSingleDevice()"></md-slider>
        </fieldset>
        <fieldset class="form-group" *ngIf="device.getTypeOfDevice() == 'temprature'">
            <legend>Temperatur</legend>
            <p>Nåværende temperatur: {{ device.getCurrentTemp() }}C</p>
            <p>Ønsket temperatur: {{ device.getTargetTemp() }}C</p>
            <md-slider [(ngModel)]="device.targetTemp" (change)="updateSingleDevice()"></md-slider>
        </fieldset>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateSingleDevice()">Oppdater</button>
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Lukk</button>
    </div>


</ng-template>





<div class="card mb-4">
    <img src="{{ device.getImgUrl() }}" class="img-fluid card-img-top stretch" />
    <div class="card-block">
        <div class="row">
            <div class="col-12">
                <h4 class="card-title">{{ device.getName() }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Rom: {{ device.getRoom() }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary d-block mr-auto" (click)="open(content)">Kontroller</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary d-block ml-auto" (click)="removeDevice(device.getId())">Fjern</button>
            </div>
        </div>
    </div>
</div>
