<div class="card mb-4">
    <div class="row">
        <div class="col-12">
            <img src="{{ device.getImgUrl() }}" class="img-fluid d-block mx-auto" />
        </div>
    </div>
    <div class="card-block">
        <h4 class="card-title">{{ device.getName() }}</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Id: {{ device.getId() }}</li>
        <li class="list-group-item">Navn: {{ device.getName() }}</li>
        <li class="list-group-item">Type: {{ device.getTypeOfDevice() }}</li>
        <li class="list-group-item">Strøm: {{ device.getPower() }}</li>
        <li class="list-group-item" *ngIf="device.getTypeOfDevice() == 'light'">Dimmer: {{ device.getDim() }}</li>
        <li class="list-group-item" *ngIf="device.getTypeOfDevice() == 'temprature'">Temperatur: {{ device.getCurrentTemp() }}</li>
        <li class="list-group-item" *ngIf="device.getTypeOfDevice() == 'temprature'">Ønsket tempratur: {{ device.getTargetTemp() }}</li>
        
    </ul>
</div>
