<div class="container">
    <div class="row">
        <div class="col-12">
            <app-navigation></app-navigation>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Sensio forretningssak</h1>
            <h2>Programvareutvikler</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

