<ul class="nav nav-pills nav-fill">
    <li *ngFor="let item of items" class="nav-item">
        <a routerLink="{{ item.getLink() }}" class="nav-link" routerLinkActive="active">{{ item.getTitle() }}</a>
    <li>
</ul>
