<div class="row">
    <div class="col-12">
        <h3>Hjem</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Prosjektet kan klones via git-linkene nedenfor.</p>
        <p>Noe av applikasjonens funksjonalitet krever at cache i nettleser er skrudd av. Se hvordan man gjør det i Firefox under.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>Git</h4>
        <p>Client git repo: https://bitbucket.org/kennethbortveit/sensio-client.git</p>
        <p>Server git repo: https://bitbucket.org/kennethbortveit/sensio-server.git</p>

        <h4>Skru av cache (Firefox)</h4>
        <ol>
            <li>Åpne nettleser.</li>
            <li>Skriv "about:config" i søkefeltet.</li>
            <li>Klikk på "I accept the risk!".</li>
            <li>Søk opp "browser.cache.disk.enable".</li>
            <li>Dobbel-klikk slik at verdien blir "false".</li>
            <li>Lukk Firefox og start nettleseren på nytt.</li>
            <li>Søk opp "browser.cache.memory.enable".</li>
            <li>Dobbel-klikk slik at verdien blir "false".</li>
            <li>Lukk Firefox og start nettleseren på nytt.</li>
        </ol>
    </div>
</div>
