<div class="row">
    <div class="col-12">
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel title="{{ room.getName() }}">
                <ng-template ngbPanelContent>
                    <div class="row">
                        <div class="col-4" *ngFor="let device of room.getDevices()">
                            <app-vr-device [device]="device"></app-vr-device>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
